<div class="main">
	<div class="lists">
		<h2 class="list-title">Books</h2>
		<table>
			<thead class="table-head">
				<tr>
					<th>title</th>
					<th>Body</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>